<ion-view view-title="Account">
  <ion-content>
    <div class="list">
    <div ng-if="!listLoggerController.isWeb">
      <img class="enemy-img" ng-src="{{listLoggerController.enemy.img}}" alt="">
    </div>
    <div ng-if="listLoggerController.isWeb">
      <img class="enemy-img" src="img/unavailable.jpg" alt="">
    </div>
      <label class="item item-input">
        <input type="text" ng-model="listLoggerController.enemy.name" placeholder="Asshole name">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Where</div>
        <select ng-options="option as option.label for option in listLoggerController.whereOptions track by option.id"
        ng-change="listLoggerController.isComedyHackWeekend()"
        ng-model="listLoggerController.enemy.where">
        </select>
      </label>
      <label class="item item-input item-select">
        <div class="input-label">Area of Offence</div>
        <select ng-options="option as option.label for option in listLoggerController.areaOfOffenceOptions track by option.id"
        ng-model="listLoggerController.enemy.areaOfOffence">
        </select>
      </label>
      <div class="item">Severity</div>
      <label class=" severity item item-input item-select">
        <div class="input-label">Severity</div>
        <select class="test" ng-options="option as option.label for option in listLoggerController.severityOptions track by option.id"
        ng-model="listLoggerController.enemy.severity"
        ng-change="listLoggerController.setAngerRating()">
        </select>
      </label>
      <label class="item item-input"
      ng-if="!listLoggerController.maxAnger">
        <input type="number" placeholder="How mad are you">
        <img class="rating--unselected"
  ng-repeat="num in [0,1,2,3,4]"
  ng-class="listLoggerController.ratingSelected(num)"
  ng-class="{'rating--max-rating': listLoggerController.maxAnger}"
  ng-click="listLoggerController.selectRating(num)"
  src="https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_400x400.png" alt="">
      </label>
<div class="max-anger" ng-if="listLoggerController.maxAnger">
        <img class="rating--unselected"
  ng-repeat="num in [0,1,2,3,4]"
  ng-class="listLoggerController.ratingSelected(num)"
  ng-class="{'rating--max-rating': listLoggerController.maxAnger}"
  ng-click="listLoggerController.selectRating(num)"
  src="https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_400x400.png" alt="">
        <img class="rating--unselected"
  ng-repeat="num in [0,1,2,3,4]"
  ng-class="listLoggerController.ratingSelected(num)"
  ng-class="{'rating--max-rating': listLoggerController.maxAnger}"
  ng-click="listLoggerController.selectRating(num)"
  src="https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_400x400.png" alt="">
        <img class="rating--unselected"
  ng-repeat="num in [0,1,2,3,4]"
  ng-class="listLoggerController.ratingSelected(num)"
  ng-class="{'rating--max-rating': listLoggerController.maxAnger}"
  ng-click="listLoggerController.selectRating(num)"
  src="https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_400x400.png" alt="">
          <img class="rating--unselected"
  ng-repeat="num in [0,1,2]"
  ng-class="listLoggerController.ratingSelected(num)"
  ng-class="{'rating--max-rating': listLoggerController.maxAnger}"
  ng-click="listLoggerController.selectRating(num)"
  src="https://pbs.twimg.com/profile_images/493711513027215361/C3Y4e550_400x400.png" alt=""></div>
          <button ng-click="listLoggerController.addEnemy()" class="button button-block button-positive">
      Submit
    </button>
    </div>

  </ion-content>
</ion-view>
