/* Empty. Add your own CSS if you like */

.enemy-img {
  margin: 50px;
  width: 200px;
}

.rating--unselected{
  width: 10%;
  -webkit-filter: grayscale(100%);
}

.rating--selected{
  width: 10%;

  -webkit-filter: none;
}

.rating--max-rating{
  -webkit-filter: invert(1);
}

.input-label{
  font-size: 13px;
}

.max-anger{
  background:black;
}

.test{
/*  padding-right: 0;
  padding-left: 0;
  margin-top: 50px;
  margin-right: 150px;
  margin-left: -150px;*/
}
