/* Empty. Add your own CSS if you like */

.enemy-img {
  margin: 50px;
  width: 200px;
}

.rating--unselected{
  width: 10%;
  -webkit-filter: grayscale(100%);
}

.rating--selected{
  width: 10%;

  -webkit-filter: none;
}

.rating--max-rating{
  -webkit-filter: invert(1);
}

.input-label{
  font-size: 13px;
}

.max-anger{
  background:black;
}

.test{
  /* Thanks Ionic */
  left: 6px !important;
  padding-right: 0px !important;
  padding-left: 0px !important;
  font-size: 12px !important;
  max-width: 100% !important;
  direction: ltr !important;
}

.logo{
  width:80%;
  margin-top: 250px;
  margin-left: 40px;
}

.home{
  background-color: #5c37cc;
}

.finger-rating{
  width:10%;
}
